.description{
    color:#353b48 !important
}
.gt-meta{
    z-index: 8 !important
}
.sidebar-links{
  height: 290px;
  overflow-y: auto;
  border-bottom:2px solid;
  border-image: linear-gradient(to right,#88c1ea, #e84118) 30;
}
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
  background-color: white;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:vertical {
  border-radius: 16px;
  width:8px;
//   height:1px;
  background-color: #88c1ea;
  background linear-gradient(#88c1ea, #e84118)
}
::-webkit-scrollbar-thumb:horizontal {
  border-radius: 16px;
  height:7px;
  background-color: #88c1ea;
  background linear-gradient(to right,#88c1ea, #e84118)
}
.nav-link.action-button{
    letter-spacing: 2px;
    background linear-gradient(to right,#88c1ea, #e84118);
}
.home .hero .action-button{
    position: relative;
    overflow: hidden;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    background linear-gradient(to right,#88c1ea, #e84118);
    border-bottom: none;
    &:hover{
      color:#000;
      transition: all .7s ease-in-out;
    }
}
.ripple {
    display: block;
    position: absolute;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.6);
    transform: scale(0);
}
.animation {
    animation: ripple .7s ease-in-out;
}
@keyframes ripple {
    100% {
        transform: scale(3);
        opacity: 0;
    }
}
.home .hero img{
  border-radius:10px;
}
.sidebar > .sidebar-links > li > a.sidebar-link{
    font-size: 1em !important;
}
.nav-item .nav-link:hover{
  border-bottom: 2px solid #74b9ff !important;
}
.nav-link{
  &.router-link-exact-active.router-link-active{
  border-bottom: 2px solid #74b9ff !important;
  }
}
a.sidebar-link.active{
  border-left-color: #e84118;
  color:#0097e6
}
a.sidebar-link:hover{
  color:#0097e6 !important
}
.swal-modal {
  width: 200px;
  background-color: rgba(63, 255, 106, .8);
  border: 3px solid white;
}
.swal-text {
  font-size: 20px;
  background-color: #FEFAE3;
  padding: 17px;
  border: 1px solid #F0E1A1;
  display: block;
  margin: 22px;
  text-align: center;
  color: #61534e;
}
.fail{
  width: 200px;
  background-color: rgba(232, 65, 24,.8);
  border: 3px solid white;
}
// .bgvue{
//   position:absolute;
//   z-index:1000;
// }
#particles-js{
  z-index:1;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
}
// .father{
//   position:relative;
//   height:100%
// }
.action,img,.sel,.twobtn,div[class*="language-"]{
  position:relative !important;
  z-index:2 !important;
}
body{
  font-weight:500;
  font-family: Comic Sans MS,Helvetica Neue,'楷体',-apple-system,sans-serif!important;
  cursor:url('https://cdn.jsdelivr.net/gh/peinkid/blog@cursor/docs/.vuepress/public/default.cur'),auto !important;
}
a,button{
  cursor:url('https://cdn.jsdelivr.net/gh/peinkid/blog@poniter/docs/.vuepress/public/pointer.cur'),auto !important;
}
button[disabled="disabled"]{
  cursor:url('https://cdn.jsdelivr.net/gh/peinkid/blog@cursor/docs/.vuepress/public/default.cur'),auto !important;
}
.pein{
  padding 0 4px;
  color:#0097e6;
  font-style:italic;
  font-weight:550;
  background-color: #F8EFBA;
}